aside#floating-nav .inner {
    position: fixed;
    top: 105px;
    background-color: #f0f1fc;
    padding: 20px;
}

aside#floating-nav ol {
    font-size: .9em;
    padding-left: 15px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    aside#floating-nav {
        display: none;
    }
}
